.container {
    position: relative;
    max-width: 1288px;
    min-height: 768px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.book {
    text-align: center;
}

.flipbook {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 870px;
    height: 550px;
}

.open-button {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    border: none;
    outline: none;
    font-size: 0;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
  }

  .previous-button {
    width:48px;
    height: 48px;
    position: absolute;
    top: -5px;
    left: -13px;
    border: none;
    outline: none;
    font-size: 0;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
  }

  .next-button {
    width:48px;
    height: 48px;
    position: absolute;
    top: 0px;
    right: 5px;
    border: none;
    outline: none;
    font-size: 0;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 10px;
    width: 130px;
    height: 50px;
  }
  
  
  
  
  
  