.App {
  width: 100vw;
  height: 100vh;
  background: url("../../react-flip-book/src/assets/background.svg");
  background-size: cover;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


