@import "../src/style/mediamixins";

.App {
  width: 100vw;
  height: 100vh;
  background: url("../../react-flip-book/src/assets/background.svg");
  background-size: cover;
  overflow: hidden;

  @include for-large-phone {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
